<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.will.play.mine">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application>
        <activity android:name=".ui.activity.MineAddressActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineWalletActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineLoginActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineSettingVolumeActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineVipActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineVipDetailActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineVipPayActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineChangeRoleActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineSettingActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineDouyinBindingActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineInfoEditActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineAddDouyinActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MInePartnerActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineWithDrawActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineWithDrawHistoryActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineWechatAuthActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineTalentInfoActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineTalentListActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineSaleRecordActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineCooperateActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.MineReportActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
    </application>
</manifest>