<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.will.play.pay">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:name="com.douqupai.wxapi.WXPayEntryActivity"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale|screenLayout|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.douqupai.wxapi.WXEntryActivity"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale|screenLayout|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>