<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.will.play.pick">

    <application>
        <activity android:name=".ui.activity.PickStoreDetailActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.PickCollectionActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.PickPartnerActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.PickGoodsDetailActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
    </application>
</manifest>